@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin:0;
    font-family: 'Gaegu', sans-serif;
}

.header {
    padding: 1%;
    background-color: #382c38;
    color: #8ee6e1;
}


@keyframes welcomeColor {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.welcome {
    height:100vh;
    background-image: linear-gradient(-45deg,rgb(46, 34, 171),rgb(208, 71, 159),rgb(10, 114, 151),#e73c7e); 
    animation: welcomeColor 600s ease infinite;
    background-size: 400% 400%;
    width: auto;
    text-align: center;
    position: relative;
}

.welcomeChild {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: black 0px 0px 10px;
}

.bigHeader {
    font-size: 6em;
    font-family: 'Arvo', sans-serif;
}
