@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
    margin:0;
    font-family: 'Gaegu', sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

img,
video,
iframe,
lite-youtube {
  max-inline-size: 100%;
  block-size: auto;
}

@media (max-width:500px) {
    .body-text {
        font-family: 'Arvo', sans-serif;
        font-size: .75em;
    }

    .bigHeader {
        font-size: 2em;
        font-family: 'Arvo', sans-serif;
    }

    .SideBySide {
        justify-content: center;
        align-items: center;
    }

    .CelesteSBS,
    .ChicorySBS {
        aspect-ratio: 16 / 10;
        padding-top: 1em;
    }
    
    .SideBySide lite-youtube {
        width: 20em;
        height: 12.5em;
    }
}

@media (min-width:501px){
    .body-text {
        max-width: 50em;
        margin: auto;
        font-family: 'Arvo', sans-serif;
    }

    .body-text h1,
    .body-text h2 {
        text-align: center;
    }

    .bigHeader {
        font-size: 6em;
        font-family: 'Arvo', sans-serif;
    }
    .SideBySide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CelesteSBS,
    .ChicorySBS {
        aspect-ratio: 16 / 10;
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .SideBySide lite-youtube {
        width: 20em;
        height: 12.5em;
    }

    .Contact {
        display: flex;
    }

    .ProPho {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ProPho img {
        border: 2px solid white;
        border-radius: 10%;
    }

    .ContactButtons {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ContactButtons button {
        width: 50%;
        height: 10%;
        margin: 2.5vh;
    }
}

.Contact {
    background-color: black;
    padding: 1vh;
	color: white;
}

.link-like-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.link-like-button:hover {
    background-color: #007bff;
}

.header {
    padding: 1vh;
    background-color: #382c38;
    color: #8ee6e1;
}

.header h1,
.footer h1 {
    font-size: 6vh;
}

.footer h1 {
    text-align: center;
}

@keyframes welcomeColor {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.welcome {
    height:92vh;
    background-image: linear-gradient(-45deg,rgb(46, 34, 171),rgb(208, 71, 159),rgb(10, 114, 151),#e73c7e); 
    animation: welcomeColor 600s ease infinite;
    background-size: 400% 400%;
    width: auto;
    text-align: center;
    position: relative;
}

.welcomeChild {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: black 0px 0px 10px;
}

.MainBody {
    background-image: linear-gradient(-45deg,rgba(46, 34, 171, .7),rgba(208, 71, 159, .7),rgba(10, 114, 151, .7),rgba(231, 60, 126, .7)); 
}

.About,
.Projects,
.Speedruns {
    padding: 1vh;
    border-top:2px solid black;
}
